.fbbl_north_collapser,
.fbbl_east_collapser,
.fbbl_south_collapser,
.fbbl_west_collapser {
    background: #ccc;
}
body {
    font-family: sans-serif;
    font-size: 12px;
}

.fbbl_north,
.fbbl_south {
    text-align: center;
}
.fbbl_north,
.fbbl_south,
.fbbl_east,
.fbbl_west,
.fbbl_center {
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
}